@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #CBD2DC;
    -webkit-font-smoothing: antialiased;
}

.item {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.item:hover {
    border-bottom: 2px solid #000;
}

.selected-item {
    font-size: 20px;
    color: #C69B08;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #C69B08;
}