.position {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70vw;

    padding-top: 24px;
}

.players-bt {
    align-self: flex-end;
}

.position-listing {
    margin-top: 24px;
    padding-right: 0px;
    padding-bottom: 50px;
    width: 70vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 33px;
}

