.positions {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.positions-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;

    padding-top: 24px;
}

.positions-bt {
    align-self: flex-end;
}

.positions-listing {
    margin-top: 24px;
    padding-right: 0px;
    padding-bottom: 50px;
    width: 70vw;

    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 33px;
}

